@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

/* themes */
.first-theme{
--mainbg: hsl(222, 26%, 31%);
--keypadbg: hsl(223, 31%, 20%);
--screenbg: hsl(224, 36%, 15%);

--keybg-one: hsl(225, 21%, 49%);
--keyshadow-one: hsl(224, 28%, 35%);
--keybg-two: hsl(6, 63%, 50%);
--keyshadow-two: hsl(6, 70%, 34%);
--keybg-three: hsl(30, 25%, 89%);
--keyshadow-three: hsl(28, 16%, 65%);

--text-dark: hsl(221, 14%, 31%);
--text-light: hsl(0, 0, 100%);
--main-font: white;

}

.second-theme{
--mainbg: hsl(0, 0%, 90%);
--keypadbg: hsl(0, 5%, 81%);
--screenbg: hsl(0, 0%, 93%);

--keybg-one: hsl(185, 42%, 37%);
--keyshadow-one: hsl(185, 58%, 25%);
--keybg-two: hsl(25, 98%, 40%);
--keyshadow-two: hsl(25, 99%, 27%);
--keybg-three: hsl(45, 7%, 89%);
--keyshadow-three: hsl(35, 11%, 61%);

--text-dark: hsl(60, 10%, 19%);
--text-light: hsl(0, 0, 100%);
--main-font: black;

}

/* end of themes */

*{
    font-family: 'Spartan';
    color: var(--main-font);
}

.header{
    display:flex;
    flex-direction: row;
    width: 100%;
}

.title{
    margin:0;
    flex: 1;
}

.theme{
    margin:0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex: .5;
    font-size: .75rem;
}

.toggle-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.toggle-label{
    margin:0;
    letter-spacing: .7rem;
    font-size: .75rem;
}

.toggle{
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    background: var(--keypadbg);
    width: 4rem;
    height: 1.5rem;
}

.toggle input{
    cursor: pointer;
    opacity: 0;
    z-index: 3;
    background:var(--keybg-two);
}

.slider{
    position: absolute;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    left: .25rem;
    bottom: .25rem;
    background-color: var(--keybg-two);
    border-radius: 2rem;
    transition: 0.3s ease-out;
}

.toggle input[value='2']:checked ~.slider{
    left: 37%;
}

.toggle input[value='3']:checked ~.slider{
    left: 67%;
}

body{
    background: var(--mainbg);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 2rem 0 2rem;
    gap: 2rem;
}

.output{
    background: var(--screenbg);
    width: 100%;
    border-radius: 5px;
    padding: .75rem 0 .75rem 0;
}

#output{
    font-size: 32px;
    margin: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;;
}

.keypad{
    background: var(--keypadbg);
    width: 100%;
    border-radius: 5px;
}

.btn-group{
    background: var(--keypadbg);
    padding: 1.5rem;
    height: 300px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
}

.btn{
    font-size: 2rem;
    background: var(--keybg-three);
    padding: 0;
    border: none;
    border-radius: 3px;
    height: 3rem;
    box-shadow: 0 3px var(--keyshadow-three);
    color: black;
}

.clear{
    grid-column:1/3;
}

.equal{
    grid-column: 3/5;
    background: var(--keybg-two);
    color: var(--keybg-three);
    box-shadow: 0 3px var(--keyshadow-two);
}

.offset-key{
    background: var(--keybg-one);
    box-shadow: 0 3px var(--keyshadow-one);
    color: var(--keybg-three);
    font-size: 1rem;
}